canvas {
  position: fixed;
  top: 0;
  left: 0;
}

button {
	font-family: Helvetica;
	font-size: 11pt;
	text-align: center;
	position: absolute;
	min-width: 80px;
	border-radius: 0;
	z-index: 1;
}

.rescheduleButton {
  background-color: #ffffff;
  border-radius: 8px;
  border-width: 0;
  color: #355c7d;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#FCFS {
  right: 20px;
  top: 15px;
}
#Deadline {
  right: 20px;
  top: 63px;
}
#Priority {
  right: 20px;
  top: 111px;
}
#RoundRobin {
  right: 20px;
  top: 159px;
}
#SJF {
  right: 20px;
  top: 207px;
}